@model Pawz.Web.Models.Pet.PetListViewModel

<!-- Remove All Filters Button -->
<div class="widget">
    <a asp-controller="Pet" asp-action="Index">
        Remove Applied Filters
    </a>
</div>

<!-- Species Filter -->
<div class="widget category-list">
    <h4 class="widget-header">All Species</h4>
    <ul class="category-list">
        @foreach (var species in Model.Pets
                      .Where(pet => pet.Breed != null && pet.Breed.Species != null)  // Check for null values
                      .Select(pet => pet.Breed.Species.Name)                         // Select only the Species name
                      .Distinct())                                                  // Remove duplicates by species name
        {
            <li>
                <a asp-controller="Pet" asp-action="Index" asp-route-SpeciesName="@species">
                    @species
                </a>
            </li>
        }
    </ul>
</div>

<!-- Breed Filter -->
<div class="widget category-list">
    <h4 class="widget-header">All Breeds</h4>
    <ul class="category-list">
        @foreach (var breed in Model.Pets
                      .Where(pet => pet.Breed != null)                              // Check for null values
                      .Select(pet => pet.Breed.Name)                                // Select only the Breed name
                      .Distinct())                                                  // Remove duplicates by breed name
        {
            <li>
                <a asp-controller="Pet" asp-action="Index" asp-route-BreedName="@breed">
                    @breed
                </a>
            </li>
        }
    </ul>
</div>
