@model AdoptionRequestCreateModel
<!---Modal--->

<div class="modal fade" id="adoptionRequestModal" tabindex="-1" role="dialog" aria-labelledby="adoptionRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adoptionRequestModalLabel">Adoption Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index" id="adoptionRequestForm">
                    <!-- Country select field -->
                    <div class="form-group">
                        <select asp-for="Country" class="form-control" id="country" name="country">
                            <option value="">Select your country</option>
                            <option value="KOSOVO">Kosova</option>
                        </select>
                        <!-- City select field -->
                        <select asp-for="City" class="form-control ml-2" id="city" name="city">
                            <option value="">Select your city</option>
                            <option value="PRISTINA">Prishtina</option>
                            <option value="PRIZREN">Prizren</option>
                            <option value="PEJA">Peja</option>
                            <option value="GJAKOVA">Gjakova</option>
                            <option value="MITROVICA">Mitrovica</option>
                            <option value="FERIZAJ">Ferizaj</option>
                            <option value="VUSHTRRI">Vushtrri</option>
                        </select>
                    </div>
                    <!-- Address input field -->
                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" id="address" placeholder="Enter your address">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button asp-controller="AdoptionRequest" asp-action="Create" type="submit" class="btn btn-primary" onclick="submitAdoptionRequest()">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
