@model dynamic

@{
    ViewBag.Title = "Page";
    Layout = "_Layout";
}

<section class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search nice-select-white">
                    <form>
                        <div class="form-row align-items-center">
                            <div class="form-group col-xl-4 col-lg-3 col-md-6">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="What are you looking for">
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <select class="w-100 form-control my-2 my-lg-0">
                                    <option>Category</option>
                                    <option value="1">Dogs</option>
                                    <option value="2">Cats</option>
                                    <option value="4">Birds</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-6">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4" placeholder="Location">
                            </div>
                            <div class="form-group col-xl-2 col-lg-3 col-md-6">

                                <button type="submit" class="btn btn-primary active w-100">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-lg-8">
                <div class="product-details">
                    <h1 class="product-title">Golden Retriever</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="#">Andrew</a></li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="#">Ferizaj</a></li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider mt-4">
                        <div class="product-slider-item my-4" data-image="/template/images/products/products-1.jpg">
                            <img class="img-fluid w-100" src="~/template/images/products/products-1.jpg" alt="product-img">
                        </div>
                        <div class="product-slider-item my-4" data-image="/template/images/products/products-2.jpg">
                            <img class="d-block img-fluid w-100" src="~/template/images/products/products-2.jpg" alt="Second slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="/template/images/products/products-3.jpg">
                            <img class="d-block img-fluid w-100" src="~/template/images/products/products-3.jpg" alt="Third slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="/template/images/products/products-1.jpg">
                            <img class="d-block img-fluid w-100" src="~/template/images/products/products-1.jpg" alt="Third slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="/template/images/products/products-2.jpg">
                            <img class="d-block img-fluid w-100" src="~/template/images/products/products-2.jpg" alt="Third slide">
                        </div>
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                   aria-selected="true">Product Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                   aria-selected="false">Specifications</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Product Description</h3>
                                <p>Golden Retrievers are one of the most popular dog breeds due to their friendly, tolerant attitude.
                                    They are intelligent, easy to train, and eager to please, making them ideal family pets. With their warm,
                                    golden coats and expressive eyes, they are as beautiful as they are loving. Golden Retrievers are known for
                                    their gentle and calm demeanor, making them excellent companions for children and other pets. They are also
                                    highly versatile and can be trained for a variety of roles, including therapy, search and rescue, and service work.
                                    Their love for outdoor activities, especially swimming, makes them a great choice for active families. Overall,
                                    Golden Retrievers are loyal, affectionate, and incredibly social, thriving on human interaction and always eager to be a part of the family.</p>

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Product Specifications</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                    <tr>
                                        <td>Seller Price</td>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <td>Added</td>
                                        <td>26th December</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>Kosova,Gjilan</td>
                                    </tr>
                                    <tr>
                                        <td>Specie</td>
                                        <td>Dog</td>
                                    </tr>
                                    <tr>
                                        <td>Breed</td>
                                        <td>Golden Retriever</td>
                                    </tr>
                                    <tr>
                                        <td>Condition</td>
                                        <td>Healthy</td>
                                    </tr>
                                    <tr>
                                        <td>Whelped</td>
                                        <td>2017</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>$230</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="~/template/images/user/user-thumb.jpg" alt="">
                        <h4><a href="#">Jonathon Andrew</a></h4>
                        <p class="member-time">Member Since Jun 27, 2017</p>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href="#" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">Adopt Now</a></li>
                        </ul>
                    </div>
                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Safety Tips</h5>
                        <ul>
                            <li>Meet seller at a public place</li>
                            <li>Check the item before you buy</li>
                            <li>Pay only after collecting the item</li>
                            <li>Pay only after collecting the item</li>
                        </ul>
                    </div>
                    <!-- Coupon Widget -->
                    <div class="widget coupon text-center">
                        <!-- Coupon description -->
                        <p>Want to know more about us?</p>
                        <!-- Submii button -->
                        <a asp-controller="Home" asp-action="AboutUs" class="btn btn-transparent-white">Click here</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>
