@model Wishlist

@{
    ViewBag.Title = "Wish list";
    Layout = "_Layout";
}

<h2>Your Wishlist</h2>

@if (Model?.Pets == null || !Model.Pets.Any())
{
<p>No items in your wishlist.</p>
}
else
{
<ul>
    @foreach (var pet in Model.Pets)
    {
    <li>
        <strong>Pet Name:</strong> @pet.Name <br />
    </li>
    }
</ul>
}

