@model Pawz.Web.Models.User.ApplicationUserViewModel

<div class="">
    <!-- Edit Profile Welcome Text -->
    <div class="widget welcome-message">
        <h2>Edit profile</h2>
        <p>This is the account management page where you can edit your personal information, reset your password, change
            your email address and deactivate or
            delete your account.</p>
    </div>
    <!-- Edit Personal Info -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="widget personal-info">
                <h3 class="widget-header user">Edit Personal Information</h3>

                <form asp-action="EditUser" method="post" enctype="multipart/form-data">
                    <!-- First Name -->
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input type="text" class="form-control" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <!-- Last Name -->
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input type="text" class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <!-- Address -->
                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input type="text" class="form-control" asp-for="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control" asp-for="PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <!-- Display Current Profile Picture -->
                    <div class="form-group">
                        <label>Current Profile Picture</label>
                        <div class="profile-thumb">
                            <img src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/default-image.webp" : Model.ImageUrl)"
                                alt="@Model.FirstName @Model.LastName's Profile Picture" class="rounded-circle"
                                style="width: 150px; height: 150px;" />
                        </div>
                    </div>

                    <!-- Profile Picture File chooser (optional) -->
                    <div class="form-group choose-file">
                        <label for="ProfilePicture">Upload New Profile Picture</label>
                        <input type="file" class="form-control-file mt-2 pt-1" name="ProfilePicture"
                            id="ProfilePicture" />
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-outline-primary">Save My Changes</button>
                </form>

            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <!-- Change Password -->
            <div class="widget change-password">
                <h3 class="widget-header user">Edit Password</h3>
                <form action="#">
                    <!-- Current Password -->
                    <div class="form-group">
                        <label for="current-password">Current Password</label>
                        <input type="password" class="form-control" id="current-password">
                    </div>
                    <!-- New Password -->
                    <div class="form-group">
                        <label for="new-password">New Password</label>
                        <input type="password" class="form-control" id="new-password">
                    </div>
                    <!-- Confirm New Password -->
                    <div class="form-group">
                        <label for="confirm-password">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirm-password">
                    </div>
                    <!-- Submit Button -->
                    <button class="btn btn-transparent">Change Password</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <!-- Change Email Address -->
            <div class="widget change-email mb-0">
                <h3 class="widget-header user">Edit Email Address</h3>
                <form action="#">
                    <!-- Current Password -->
                    <div class="form-group">
                        <label for="current-email">Current Email</label>
                        <input type="email" class="form-control" id="current-email">
                    </div>
                    <!-- New email -->
                    <div class="form-group">
                        <label for="new-email">New email</label>
                        <input type="email" class="form-control" id="new-email">
                    </div>
                    <!-- Submit Button -->
                    <button class="btn btn-transparent">Change email</button>
                </form>
            </div>
        </div>
    </div>
    <div class="widget d-flex align-items-center justify-content-between pt-4 mt-4"
        style="margin-bottom: 0 !important;">
        <button type="button" class="btn btn-outline-danger">Delete Account</button>
        <button type="button" class="btn btn-outline-warning">Deactivate Account</button>
    </div>
</div>