@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Agency HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Icon -->
    <link href="~/template/images/favicon.png" rel="shortcut icon">

    <title>Pawz - @ViewData["Title"]</title>

    <link href="~/template/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/plugins/bootstrap/bootstrap-slider.css" rel="stylesheet">
    <link href="~/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/template/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/template/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="~/template/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">

    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body class="body-wrapper">

<!--NavBar-->
<header>
    <partial name="Navbar"/>
</header>

<main role="main">
    @RenderBody()
</main>

<!-- Footer-Top -->
<footer class="footer section section-sm">
    <partial name="FooterTop"/>

</footer>

<!-- Footer-Bottom -->
<footer class="footer-bottom">
    <partial name="FooterBottom"/>
</footer>

<!--=================Essential Scripts====================-->
<script src="~/template/plugins/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/template/plugins/bootstrap/popper.min.js"></script>
<script src="~/template/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/template/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="~/template/plugins/tether/js/tether.min.js"></script>
<script src="~/template/plugins/raty/jquery.raty-fa.js"></script>
<script src="~/template/plugins/slick/slick.min.js"></script>
<script src="~/template/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="~/template/plugins/google-map/map.js" defer></script>

<script src="~/template/js/script.js"></script>

    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.success(successMessage);
            }
        });
    </script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
