<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Agency HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Classified Marketplace Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="classimax" />

    <!-- favicon -->
    <link href="~/template/images/favicon.png" rel="shortcut icon">

    <title>@ViewData["Title"] - Pawz.Web</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pawz.Web.styles.css" asp-append-version="true" />*@
    <link href="~/template/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/plugins/bootstrap/bootstrap-slider.css" rel="stylesheet">
    <link href="~/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/template/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/template/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="~/template/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">

    <link href="~/template/css/style.css" rel="stylesheet">
</head>
<body class="body-wrapper">
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pawz.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand">
                        <img src="~/template/images/pawz.png" alt="" width="55" height="55">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" >Home</a>
                            </li>
                            <li class="nav-item dropdown dropdown-slide @@dashboard">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dashboard<span><i class="fa fa-angle-down"></i></span>
                                </a>

                                <!-- Dropdown list -->
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @@dashboardPage" >Dashboard</a></li>
                                    <li><a class="dropdown-item @@dashboardMyAds"  asp-controller="Home" asp-action="Shop" >Dashboard My Ads</a></li>
                                    <li><a class="dropdown-item @@dashboardFavouriteAds">Dashboard Favourite Ads</a></li>
                                    <li><a class="dropdown-item @@dashboardArchivedAds">Dashboard Archived Ads</a></li>
                                    <li><a class="dropdown-item @@dashboardPendingAds" >Dashboard Pending Ads</a></li>

                                    <li class="dropdown dropdown-submenu dropright">
                                        <a class="dropdown-item dropdown-toggle" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                                            <li><a class="dropdown-item" >Submenu 01</a></li>
                                            <li><a class="dropdown-item">Submenu 02</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown dropdown-slide @@pages">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @@about">About Us</a></li>
                                    <li><a class="dropdown-item @@contact">Contact Us</a></li>
                                    <li><a class="dropdown-item @@profile" >User Profile</a></li>
                                    <li><a class="dropdown-item @@404">404 Page</a></li>
                                    <li><a class="dropdown-item @@package">Package</a></li>
                                    <li><a class="dropdown-item @@singlePage">Single Page</a></li>
                                    <li><a class="dropdown-item @@store" >Store Single</a></li>
                                    <li><a class="dropdown-item @@blog" >Blog</a></li>
                                    <li><a class="dropdown-item @@singleBlog">Blog Details</a></li>
                                    <li><a class="dropdown-item @@terms">Terms &amp; Conditions</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown dropdown-slide @@listing">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Listing <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item @@category" >Ad-Gird View</a></li>
                                    <li><a class="dropdown-item @@listView">Ad-List View</a></li>

                                    <li class="dropdown dropdown-submenu dropleft">
                                        <a class="dropdown-item dropdown-toggle" id="dropdown0201" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdown0201">
                                            <li><a class="dropdown-item" >Submenu 01</a></li>
                                            <li><a class="dropdown-item" >Submenu 02</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            <li class="nav-item">
                                <a class="nav-link login-button" >Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white add-button" >Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Pawz.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
                <!-- About -->
                <div class="block about">
                    
                    <p class="alt-color">Pawz</p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
                <div class="block">
                    <h4>Site Pages</h4>
                    <ul>
                        <li><a>My Ads</a></li>
                        <li><a>Favourite Ads</a></li>
                        <li><a>Archived Ads</a></li>
                        <li><a>Pending Ads</a></li>
                        <li><a>Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
                <div class="block">
                    <h4>Admin Pages</h4>
                    <ul>
                        <li><a>Category</a></li>
                        <li><a>Single Page</a></li>
                        <li><a>Store Single</a></li>
                        <li><a>Single Post</a>
                        </li>
                        <li><a>Blog</a></li>



                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">

            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
                <!-- Copyright -->
                <div class="copyright">
                    <p>Copyright &copy; <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>. Designed & Developed by <a class="text-white">Pawz</a></p>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Social Icons -->
                <ul class="social-media-icons text-center text-lg-right">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/themefisher"></a></li>
                    <li><a class="fa fa-twitter" href="https://www.twitter.com/themefisher"></a></li>
                    <li><a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher"></a></li>
                    <li><a class="fa fa-github-alt" href="https://www.github.com/themefisher"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="fa fa-angle-up"></i>
    </div>
</footer>
<!--
Essential Scripts
=====================================-->
<script src="~/template/plugins/jquery/jquery.min.js"></script>
<script src="~/template/plugins/bootstrap/popper.min.js"></script>
<script src="~/template/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/template/plugins/bootstrap/bootstrap-slider.js"></script>
<script src="~/template/plugins/tether/js/tether.min.js"></script>
<script src="~/template/plugins/raty/jquery.raty-fa.js"></script>
<script src="~/template/plugins/slick/slick.min.js"></script>
<script src="~/template/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="~/template/plugins/google-map/map.js" defer></script>

<script src="~/template/js/script.js"></script>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
