@inject Pawz.Application.Interfaces.IUserAccessor UserAccessor

@if (UserAccessor.IsUserAuthenticated())
{
    <li class="nav-item dropdown dropdown-slide">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-text custom-navbar-text">            
                <img src="@(string.IsNullOrEmpty(UserAccessor.GetUserInfo("profilepicture")) ? Url.Content("~/images/default-image.webp") : UserAccessor.GetUserInfo("profilepicture"))"
                    alt="@UserAccessor.GetUserFirstName()'s Profile Picture" class="rounded-circle"
                    style="width: 30px; height: 30px; object-fit: cover;" />

                Hi, @UserAccessor.GetUserFirstName()
            </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item nav-link" asp-controller="Users" asp-action="Profile">
                    <i class="fa fa-user p-2"></i> Account
                </a>
            </li>
            <li>
                <a class="dropdown-item nav-link" asp-controller="Users" asp-action="Logout">
                    <i class="fa fa-sign-out p-2"></i> Logout
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link login-button" asp-controller="Users" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white add-button" asp-controller="Users" asp-action="Register">Register</a>
    </li>
}
