@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        @* Akseso claims për të marrë emrin e përdoruesit *@
        @{
            var name = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        }
        <span class="navbar-text custom-navbar-text">
            <img src="~/template/images/user/userAvatar.jpg" alt="@name's Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;" />
            Hello, @name!
        </span>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link login-button" asp-controller="Users" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white add-button" asp-controller="Users" asp-action="Register">Register</a>
    </li>
}
