    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
                <!-- About -->
                <div class="block about">

                    <p class="alt-color"></p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
                <div class="block">
                    <h4>Let us help you</h4>
                    <ul>
                        <li>
                            <a href="#">Track your Order</a>
                        </li>
                        <li>
                            <a href="#">Return & Exchanges</a>
                        </li>
                        <li>
                            <a href="#">Delivery Information</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
                <div class="block">
                    <h4>Get to know us</h4>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="AboutUs">About us</a>
                        </li>
                        <li>
                            <a href="#">Our Stores</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
                <div class="block">
                    <h4>Useful Stuff</h4>
                    <ul>
                        <li>
                            <a href="#">Help & FAQ</a>
                        </li>
                        <li>
                            <a href="#">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#">Delivery & Returns</a>
                        </li>
                        <li>
                            <a href="#">Veterinary Medicines</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">
            </div>
        </div>
    </div>
    <!-- Container End -->
