.input-error-text {
    display: block;
    min-height: 1rem;
    color: red;
    font-size: 0.8rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

/* Pet Details */

/* User Widget */
.widget-user {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 30px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.btn-widget-contact {
    background: #5672f9;
    color: white;
}

/* Safety tips Widget */
.widget-tips {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 30px 20px 30px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Price Widget */
.widget-price {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
    background: #5672f9;
    color: white;
}

.price-p {
    color: white;
    font-size: 30px;
    font-weight: bold
}

.price-h {
    color: white
}

.main-button-color {
    background: #5672f9 !important;
}

/* Adoption Request Button */
.adoption-request-button {
    font-size: 1rem !important;
    width: 80px;
    height: 70px !important;
    /*padding: 58px 30px 58px;*/
    margin-bottom: 30px;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background: #5672f9;
    color: white;
}

    .adoption-request-button:hover {
        color: white;
        background: #4054b8;
    }

    .adoption-request-button:focus, adoption-request-button:active {
        outline: none;
    }

.btn-request-cancelled {
    font-size: 1rem !important;
    width: 80px;
    height: 70px !important;
    /*padding: 58px 30px 58px;*/
    border-radius: 8px !important;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: #ec3a56;
    color: white;
}

    .btn-request-cancelled:hover {
        background: #c23047;
        color: white;
    }

    .btn-request-cancelled:focus, btn-request-cancelled:active {
        outline: none;
    }

.adoption-request-login {
    font-size: 23px !important;
    width: 80px;
    height: 70px !important;
    padding: 58px 30px 58px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background: #5672f9;
    color: white;
}

    .adoption-request-login:hover {
        color: white;
        background: #4054b8;
    }

.pet-thumbnail {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .pet-thumbnail:hover {
        transform: scale(1.08);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

/* User Avatar */
.user-avatar-image-150 {
    width: 150px;
    height: 150px;
}

.user-avatar-image-100 {
    width: 100px;
    height: 100px;
}

.user-avatar-image-70 {
    width: 70px;
    height: 70px;
}

.user-avatar-image-30 {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* Pet Action Buttons */
.btn-action {
    border: none;
    padding: 0px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

    .btn-action:focus, btn-action:active {
        outline: none;
    }

.btn-edit {
    background: transparent;
    color: #ccdb38;
    border: 1px solid #ccdb38;
    font-size: 18px;
    margin-right: 5px;
}

    .btn-edit:hover {
        background: #ccdb38;
        color: white;
    }

.btn-view {
    background: transparent;
    color: #67a88a;
    border: 1px solid #67a88a;
    font-size: 18px;
    margin-right: 5px;
}

    .btn-view:hover {
        background: #67a88a;
        color: #ededeb;
    }

.btn-delete {
    background: transparent;
    color: #ec3a56;
    border: 1px solid #ec3a56;
    font-size: 18px;
    margin-right: 5px;
}

    .btn-delete:hover {
        background: #ec3a56;
        color: white;
    }

.btn-request {
    background: transparent;
    color: #5672f9;
    border: 1px solid #5672f9;
    font-size: 16px;
    margin-right: 5px;
}

    .btn-request:hover {
        background: #5672f9;
        color: white;
    }


/* Adoption Request Modal */
.radio-group label {
    margin-right: 20px;
}

.modal-dialog {
    max-width: 80%;
}

.modal-dialog-30 {
    width: 30% !important;
}

.modal-dialog-40 {
    width: 40% !important;
}

.span-required {
    color: red;
}

.form-label-site {
    color: #18191a;
    font-weight: 400;
    font-size: 15px;
}

.radio-inline {
    font-size: 20px;
}

.radio-style {
    width: 15px;
    height: 15px;
}

/* Notification Dropdwon List */
#notification-dropdown .dropdown-menu {
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

#notification-list .dropdown-item {
    white-space: normal;
    word-wrap: break-word;
}

.notification-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

    .notification-item.unread {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .notification-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.notification-content {
    display: flex;
    flex-direction: column;
}

.notification-time-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.notification-time {
    color: gray;
    font-size: 0.9em;
    white-space: nowrap;
    text-align: right;
}

.notification-container {
    position: relative;
    display: inline-block;
}

.bell{
    padding-top: 20px;
}

.notification-bell {
    font-size: 24px;
    color: #343a40;
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #28a745; /* Ngjyra e gjelbër për njoftimin */
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
}

.badge-danger {
    position: relative;
    top: -10px;
    right: 6px;
    background-color: #5672f9;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    margin-right: -8px;
    font-size: 10px;
    font-weight: bold;
}
/* Accept / Reject Adoption Request Buttons*/
.btn-ar {
    border: none;
    padding: 0px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

    .btn-ar:focus, btn-ar:active {
        outline: none;
    }

.btn-ar-accept {
    background: transparent;
    color: #67a88a;
    border: 1px solid #67a88a;
    font-size: 17.5px;
    margin-left: 5px;
}

    .btn-ar-accept:hover {
        background: #67a88a;
        color: white;
    }


.btn-ar-reject {
    background: transparent;
    color: #ec3a56;
    border: 1px solid #ec3a56;
    font-size: 18px;
    margin-right: 5px;
}

    .btn-ar-reject:hover {
        background: #ec3a56;
        color: white;
    }



/*Create a new pet */

/*Underline form Create a Pet*/
.create-paw {
    color: #5672f9;
}

h2.position-relative {
    display: inline-block;
}

h2 .underline-create {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #5672f9;
    margin: 0 auto;
    position: absolute;
    bottom: -1px;
    left: 6%;
}

/*Edit a pet */
.edit-paw {
    color: #ccdb38;
}

/*Underline form Edit a Pet*/
h2.position-relative {
    display: inline-block;
}

h2 .underline-edit {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ccdb38;
    margin: 0 auto;
    position: absolute;
    bottom: -1px;
    left: 6%;
}

/*Most used buttons*/
.btn-blue {
    background: #5672f9;
    color: white;
}

    .btn-blue:focus, btn-action:active {
        outline: none;
        color: white;
    }

    .btn-blue:hover {
        background: #465ecf;
        color: white;
    }

.btn-blue-outline {
    border-color: #5672f9;
    background: white;
    color: #5672f9;
}

    .btn-blue-outline:focus, btn-action:active, .btn-blue-outline:hover {
        background: #5672f9;
        color: white;
    }

.btn-red {
    background: #ec3a56;
    color: white;
}

    .btn-red:focus, btn-action:active {
        outline: none;
        color: white;
    }

    .btn-red:hover {
        background: #d1344d;
        color: white;
    }

.btn-red-outline {
    background: white;
    color: #ec3a56;
    border: solid 2px #ec3a56;
}

    .btn-red-outline:focus, btn-action:active {
        outline: none;
        background: #ec3a56;
        color: white;
    }

    .btn-red-outline:hover {
        background: #ec3a56;
        color: white;
    }

.btn-green {
    background: #67a88a;
    color: white;
}

    .btn-green:focus, btn-action:active {
        outline: none;
        color: white;
    }

    .btn-green:hover {
        background: #5a9178;
        color: white;
    }

.btn-green-outline {
    background: white;
    color: #67a88a;
    border: solid 2px #67a88a;
}

    .btn-green-outline:focus, btn-action:active {
        outline: none;
        background: #67a88a;
        color: white;
    }





