.input-error-text {
    display: block;
    min-height: 1rem;
    color: red;
    font-size: 0.8rem;
}

.text-xs {
    font-size: 0.75rem; 
    line-height: 1rem; 
}

.text-sm {
    font-size: 0.875rem; 
    line-height: 1.25rem; 
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem; 
}

.text-lg {
    font-size: 1.125rem; 
    line-height: 1.75rem; 
}

.text-xl {
    font-size: 1.25rem; 
    line-height: 1.75rem; 
}

.text-2xl {
    font-size: 1.5rem; 
    line-height: 2rem; 
}

.text-3xl {
    font-size: 1.875rem; 
    line-height: 2.25rem; 
}

.text-4xl {
    font-size: 2.25rem; 
    line-height: 2.5rem; 
}

.text-5xl {
    font-size: 3rem; 
    line-height: 1;
}

/* Pet Details */

/* User Widget */
.widget-user {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 30px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.btn-widget-contact {
    background: #5672f9;
    color: white;
}
/* Safety tips Widget */
.widget-tips {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 30px 20px 30px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Price Widget */
.widget-price {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 10px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #5672f9;
    color: white;
}

.price-p{
    color:white;
    font-size: 30px;
    font-weight: bold
}

.price-h{
    color:white
}

/* Adoption Request Button */
.adoption-request-button {
    font-size: 30px !important;
    width: 80px;
    height: 70px !important;
    padding: 58px 30px 58px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    background: #5672f9;
    color: white;
}

.adoption-request-button:hover {
    color: white;
    background: #4054b8;
 }

.pet-thumbnail {
    border-radius: 10px; 
    padding: 5px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.pet-thumbnail:hover {
    transform: scale(1.08); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

/* User Avatar */
.user-avatar-image-150 {
    width: 150px;
    height: 150px;
}

.user-avatar-image-100 {
    width: 100px;
    height: 100px;
}

.user-avatar-image-30 {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* Pet Action Buttons */
.pet-action-buttons {
    font-size: 12px;
}

.link-button {
    background: none !important;
    border: none;
    padding: 0;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
}

.link-button i {
    font-size: 20px; 
    display: inline-block;
    padding: 10px;
    color: #343a40; 
    background-color: #f0f0f0; 
    border-radius: 50%;
    transition: background-color 0.3s ease; 
    border: none;
}

.link-button i:hover {
    background-color: red;
    color: white;
}

.radio-group label {
    margin-right: 20px; 
}

/* Adoption Request Modal */
.modal-dialog {
    max-width: 80%; 
}
.span-required{
    color: red;
}

.form-label-site {
    color: #18191a;
    font-weight: 400;
    font-size: 18px;
}

.radio-inline{
font-size: 25px;

}

.radio-style{
    width:20px;
    height:20px;
}

